@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-CondLight.ttf);
}

@font-face {
	font-family: OpenSans;
	src: url(../fonts/OpenSans-CondBold.ttf);
	font-weight: bold;
}
/*----------------Selectors----by----TAG*/
html,
body{
    text-transform: uppercase;
    font-family: OpenSans, Verdana, Arial, Tahoma, sans-serif;
	font-size: 1rem;
	line-height: 1.5;

}

input[type=checkbox] {
	display: none;
}

label {
	cursor: pointer;
}

label span{
	padding-left: 0.2em;
}

input[type="checkbox"] + label:before {
	background: #2d1e10;
	content: "\00a0";
	display: inline-block;
	font: 16px/1em sans-serif;
	height: 30px;
	margin: 0 .25em 0 0;
	padding:0;
	vertical-align: top;
	width: 30px;
}

input[type="checkbox"]:checked + label:before {
	color: #666;
	content: url(../img/check-box-point.png);
	text-align: center;
}

input[type="checkbox"]:checked + label:after {
	font-weight: bold;
}

footer p{
    font-size: 1.313rem;
    text-align: center;
    padding-top: 1em;	
}

thead tr{
	display: block;
	position: relative;
}

th, td{
	width: 14%;
}
/*----------------Selectors----by----TAG----and----class*/
td,
th,
.td-vertical-align{
	vertical-align: middle;
}

th,
.set-font-weight-to-regular{
	font-weight: normal;
}
/*----------------Selectors----by----class*/
.tr-hover:nth-child(even){
    background: #0f1012;	
}

.table-cell-padding{
	padding-bottom: 1rem;	
}

.envelope{
	background: #000;
    display: table;
    width: 100%;
	color: #fff;
	min-width: 1200px;
	max-width: 1800px;
	height: 100%;
	position: relative;
}

.table-data{
    font: 1.125rem/1.5 OpenSans, Verdana, Arial, Tahoma, sans-serif;
	background: none;
	/*min-width: 768px;*/
	/*max-width: 1728px;*/
	min-width: 700px;
	max-width: 1800px;
    float: left;    
    text-align: center;	
    margin-top: 1em;
	margin-left: 5%;
	margin-right: 5%;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 0px 8px;
	z-index: 1;
}

.table-hr-line{
	background: #737374;
	border: none;
	height: 1.5px;
	margin-top: -0.5rem;

}

tr.reset-background{
	background: #737374;
	height: 1.5px;
}


.footer-style{
	background: #e67817;
	color: #fff;
	width: 100%;
	height: 65px;
}

.content,
.footer-style{
	display: table-row;
}

th.left-column{
	font-weight: bold;
	background-image: url(../img/th-proj-line.png);
	background-position: right;
	background-repeat: no-repeat;
}

.left-column{
	font-weight: bold;
	background-image: url(../img/proj-line.png);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 15px;
	/*width: 14%;*/
}

.aside-panels{
	min-height: 93%;
	width: 19%;
	min-width: 240px;
	max-width: 300px;
	float: left;
	background: #000;
}

.th-cells-color{
	color: #e67817;
}

.menu-input{
	display: block;
	margin-left: auto;
	margin-right: auto;
	font: 1rem/1.5 OpenSans, Verdana, Arial, Tahoma, sans-serif;
	width: 80%;
	padding-bottom: 1.125em;
	padding-top: 1.125em;
	padding-left: 0.75em;
	margin-bottom: 1.875em;
	color: #fff;
	background: #221203;
	border: none;
	border-bottom: 1px solid #e67817;
	text-transform: uppercase;

}

.search-field{
	position: relative;
}

.left-panel-top-form{
	padding-top: 70%;
}

.right-panel-form{
	padding-top: 50%;
}

.checkbox-field{
	/*border: 1px solid #fff;*/
	margin: 0 auto;
	margin-bottom: 1.875rem;
	background: #0d0d0d;
	height: 6em;
}

.checkbox-style_temp{
	-moz-appearance: none;
	-webkit-appearance: none;
	height:2em;
	width:2em;
	cursor:pointer;
	position:relative;
	-webkit-transition: .15s;
	border-radius:2em;
	background-color:#000;
}

.checkbox-left-panel{
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	width: 48%;
	float: left;
}

.tr-hover:hover td{
	background-color: #353e44;
}

.members-field{
	position: relative;
}

.btn-left-panel{
	width: 32px;
	height: 22px;
	background: url(../img/nav_button_org.png) no-repeat;
	border:none;
	position: fixed;
	top: 0;
	left: 0;
}

.btn-recycle{
	border: none;
	background: url(../img/recycle_new_s.png) no-repeat;
	width: 35px;
	height: 41px;
}

.btn-plus{
	border: none;
	background: url("../img/btn_plus.png") no-repeat;
	width: 50px;
	height: 47px;
}

.btn-create{
	width: 84%;
	background: #e67817;
}

.btn-search{
	width: 28px;
	height: 28px;
	border: none;
	position: absolute;
	right: 40px;
	top: 18px;
	background: url(../img/search_button.png) no-repeat;
}

.btn-expand{
	width: 37px;
	height: 34px;
	border: none;
	position: absolute;
	right: 25px;
	top: 13px;
	background: url(../img/btn_expand.png) no-repeat;
}

.btn-date{
	width: 37px;
	height: 37px;
	background: url(../img/date-icon.png) no-repeat;
	border: none;
	position: absolute;
	right: 25px;
	top: 10px;
}

.table-body-style{
	display: block;
	height: 800px;
	overflow-y: scroll;
	width: 100.3%;
}

/*----------------Selectors----by----ID*/

#tableData{
	width: 90%;
}

#tableData.change-width{
	width: 70%;
	margin-left: 0;
	margin-right: 10%;
}

#asideLeftPanel{
	display: none;
}

#asideLeftPanel.display-block{
	display: block;
}

#asideRightPanel{
	position: absolute;
	z-index: 2;
	top:0;
	right: 0;
	visibility: hidden;
	transition: all 2s cubic-bezier(0.25, 1.5, 0.75, 1.5) 0s;
}

#asideRightPanel.visibility-visible{
	visibility: visible;
	transform: rotate(360deg);
}

/* There are described styles which are related to "kalendae" and should be redifine. That is because we are not allowed to change author own styles:*/
